html,
body {
    font-size: 100%;
    /* background: #d2ac3c; */
    background: url('../images/bgc.png');
    background-repeat: repeat;
    margin: 0;
    font-family: 'Open Sansw3-banner-head-info', sans-serif;
}

p,
ul li,
ol li {
    margin: 0;
    font-size: 14px;
    line-height: 26px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: 'Cabin', sans-serif;
}

ul,
label {
    margin: 0;
    padding: 0;
}

body a:hover {
    text-decoration: none;
}

img {
    width: 100%;
}


/*--header end here--*/

.banner {
    background: url(../images/banner.jpg)no-repeat center;
    background-size: cover;
}


/* start homepage - img */

.info {
    /*   display: none; */
    opacity: 0;
    position: absolute;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, .3);
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 40px;
}

.info p {
    color: #fff;
    font-size: 1.6em;
}

.info:hover {
    -webkit-transition: 500ms;
    opacity: 1;
}

.img_box,
.imgtwo .img_box,
.imgthree .img_box {
    background-size: 100%!important;
    margin-right: 2%;
    padding-bottom: 39%;
}


/*單張*/

.imgone .img_box {
    width: 100%;
    /*讓第一張的寬度等於上排的第一張寬度*/
}


/*兩張*/

.imgtwo .img_box:nth-of-type(1n) {
    width: calc(100%/3 - 1%);
    /*讓第一張的寬度等於上排的第一張寬度*/
}

.imgtwo .img_box:nth-of-type(2n) {
    width: calc(100% - (100%/3) - 1%);
    /*讓第二張寬度等於上面兩張照片的寬度，所以是 100% 減 (上面所得的寬度) 減 外距 */
}


/*三張*/

.imgthree .img_box {
    width: calc(100%/3 - 1%);
}


/*排列*/

.img_showlist .col-12 {
    display: flex;
    margin-bottom: 2%;
}


/*移除最後的右邊外距*/

.img_showlist .col-12 div:last-child {
    margin-right: 0;
}


/*只是想讓畫面比較好看*/

.container {
    margin-top: 50px;
}


/* end homepage - img */