html,
body {
    font-size: 100%;
    /* background: #e6e6e6; */
    /* background: url('../images/bgc.png'); */
    background-repeat: repeat;
    margin: 0;
    font-family: 'Open Sansw3-banner-head-info', sans-serif;
}

p,
ul li,
ol li {
    margin: 0;
    font-size: 14px;
    line-height: 26px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: '微軟正黑體', sans-serif;
}

ul,
label {
    margin: 0;
    padding: 0;
}

body a:hover {
    text-decoration: none;
}

img {
    width: 100%;
}


/*--header end here--*/


/* header */

#header {
    position: absolute;
    width: 100%;
    padding: 3em 2em;
}


/* banner */

.banner {
    background: url(../images/banner.jpg)no-repeat center;
    background-size: cover;
    overflow: hidden;
    padding-top: 10em;
}

#form-select-block {
    background-color: rgba(225, 210, 217, 0.5);
    border-radius: .25rem;
    padding: 20px
}

#form-select-block .form-control {
    background-color: #E1DCD9;
}

.btn-border {
    color: #721c24;
    border-color: #721c24;
}

#search-btn:hover {
    background-color: #721c24 !important;
    border-color: #fff;
    color: #E1DCD9;
}


/* banner more */

#indexbanner .more {
    background-image: url(images/arrow.svg);
    background-position: center 1.35em;
    background-repeat: no-repeat;
    background-size: auto;
    border: 1px solid #fff;
    border-radius: 100%;
    color: rgba(255, 255, 255, 0.75);
    display: block;
    height: 4em;
    text-indent: 4em;
    overflow: hidden;
    white-space: nowrap;
    width: 4em;
    z-index: 2;
    margin: 0 auto 2em auto;
}


/* start homepage - img */

.info {
    /*   display: none; */
    opacity: 0;
    position: absolute;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.37);
    top: 0;
    width: 100%;
    height: 100%;
}

.info:hover {
    -webkit-transition: 500ms;
    opacity: 1;
}

.info-text {
    color: white;
    font-size: 20px;
    position: absolute;
    bottom: 5%;
    left: 5%;
    /* -webkit-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%); */
    /* text-align: center; */
}

.info-text .btn:hover {
    color: #ffd954;
}

.img_box,
.imgtwo .img_box,
.imgthree .img_box {
    background-size: 100%!important;
    margin-right: 2%;
    /* padding-bottom: 39%; */
    position: relative;
    box-shadow: 2px 2px 4px grey;
}


/*單張*/

.imgone .img_box {
    width: 100%;
    padding-bottom: 60%;
    /*讓第一張的寬度等於上排的第一張寬度*/
}


/*兩張-左小右大*/

.imgtwo .img_box {
    width: calc(100%/2 - 1%);
    padding-bottom: 45%;
    /*讓第一張的寬度等於上排的第一張寬度*/
}


/*三張*/

.imgthree .img_box {
    width: calc(100%/3 - 1%);
    padding-bottom: 32%;
}


/*排列*/

.img_showlist .col-12 {
    display: flex;
    margin-bottom: 2%;
}


/* 滑動效果 */

.img_box a:hover {
    background-color: rgba(255, 214, 84, 0.8);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.25), 0 0 0.5em 0 #ffd954;
}


/*移除最後的右邊外距*/

.img_showlist .col-12 div:last-child {
    margin-right: 0;
}


/* end homepage - img */


/* introduction page */

.list-detail {
    padding: 10px 0 0 0;
}

.list-detail ul li {
    display: inline;
    padding: 0 0 10px 0px;
}

.list-detail ul li span {
    color: #7b8084;
}


/* # introduction page - info */

.list-info ul li {
    font-size: 16px;
    font-family: '微軟正黑體';
    padding: 0 0 10px 20px;
    display: inline;
}

.list-info ul li:nth-child(1) {
    font-size: 30px;
    padding: 10px 0 30px 20px;
    font-weight: bold;
}

.list-info ul li:nth-child(2) {
    font-size: 14px;
    padding: 0 0 30px 20px;
}

.list-info span:nth-child(1) {
    /* display: inline-block; */
    color: #a7a7a7;
    padding: 0 20px 10px 0;
}


/* # introduction page - detail */

.list-title {
    border-top: 1px #adb5bd dashed;
    padding: 15px 0 0 0;
    margin: 0 50px 0 0;
    text-align: right;
    font-size: 14px;
    font-family: '微軟正黑體';
    font-weight: bold;
}

.list-content {
    border-top: 1px #adb5bd dashed;
    padding: 15px 0 0 0;
    font-family: '微軟正黑體';
}

.list-content span:first-child {
    /* width: 80px; */
    display: inline-block;
    color: #a7a7a7;
    padding: 0 20px 10px 0;
}


/* 
.list-note span:first-child {
    width: 15%;
    display: inline-block;
    color: #dc3545;
} */